*{word-wrap:break-word}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
ul,ol,dl{list-style-type:none}
html,body{*position:static}
html{font-family: sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button{overflow: visible;vertical-align:middle;outline:none}
body,th,td,button,input,select,textarea{font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";font-size:12px;color: #333;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale; }
body{line-height:1.6; font-size: 12px;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight: normal;}
a,area{outline:none;blr:expression(this.onFocus=this.blur())}
a{text-decoration:none;cursor: pointer; color: #333; transition:all .4s ease 0s;}
a:hover{text-decoration:none;outline:none; transition:all .4s ease 0s;}
a.ie6:hover{zoom:1}
a:focus{outline:none}
a:hover,a:active{outline:none}:focus{outline:none}
sub,sup{vertical-align:baseline}
button,input[type="button"], input[type="submit"] {line-height:normal !important}
/*img*/
img{border:0;vertical-align:middle}
a img,img{-ms-interpolation-mode:bicubic}
.img-responsive{max-width: 100%;height: auto}
 
/*IE下a:hover 背景闪烁*/
*html{overflow:-moz-scrollbars-vertical;zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}
 
/*HTML5 reset*/
header,footer,section,aside,details,menu,article,section,nav,address,hgroup,figure,figcaption,legend{display:block;margin:0;padding:0}time{display:inline}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
legend{width:100%;margin-bottom:20px;font-size:21px;line-height:40px;border:0;border-bottom:1px solid #e5e5e5}
legend small{font-size:15px;color:#999}
svg:not(:root) {overflow: hidden}
fieldset {border-width:0;padding: 0.35em 0.625em 0.75em;margin: 0 2px;border: 1px solid #c0c0c0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto}
input[type="search"] {-webkit-appearance: textfield; /* 1 */-moz-box-sizing: content-box;-webkit-box-sizing: content-box; /* 2 */box-sizing: content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none}
.cl:after,.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.cl,.clearfix{zoom:1}
.fl{ float: left;}
.fr{ float: right;}
.text-c{ text-align: center;}
.text-l{ text-align: left;}
.text-r{ text-align: right;}
.colwhite{ color: #fff;}
.colty{ color: #01b6ee;}
.colh{ color: #FFAC2D;}
.colv{ color: #14c400;}
.bgwhite{ background-color: #fff;}
.bg-f9{ background-color: #f9f9f9;}
.ft60{ font-size: 60px;}
.ft38{ font-size: 38px;}
.ft32{ font-size: 32px;}
.ft30{ font-size: 30px;}
.ft28{ font-size: 28px;}
.ft26{ font-size: 26px;}
.ft24{ font-size: 24px;}
.ft22{ font-size: 22px;}
.ft20{ font-size: 20px;}
.ft18{ font-size: 18px;}
.ft16{ font-size: 16px;}
.ft15{ font-size: 15px;}
.ft14{ font-size: 14px;}
.ft13{ font-size: 13px;}
.ft12{ font-size: 12px;}
.col9{ color: #999;}
.lg22{ line-height: 22px;}
.lg24{ line-height: 24px;}
.lg26{ line-height: 26px;}
.lg28{ line-height: 28px;}
.lg30{ line-height: 30px;}
.lg36{ line-height: 36px;}
.lg38{ line-height: 38px;}
.lg50{ line-height: 50px;}
.pdall30{ padding: 30px;}
.pdall20{ padding: 20px;}
.pdall15{ padding: 15px;}
.colred{ color: #DC1010;}
.col6{ color: #666;}
.colsuccess{ color: #48C977}
.boxshadow{ box-shadow: 0 2px 4px 0 rgba(117,117,117,0.50);}
.borderall{ border: 1px #e6e6e6 solid;}
.borderall2{ border: 2px #e6e6e6 solid;}
.borderbt{ border-bottom: 1px #e6e6e6 solid;}
.bordertp{ border-top: 1px #e6e6e6 solid;}
.mgbt60{ margin-bottom: 60px;}
.mgbt50{ margin-bottom: 50px;}
.mgbt30{ margin-bottom: 30px;}
.mgbt20{ margin-bottom: 20px;}
.mgbt15{ margin-bottom: 15px;}
.mgbt10{ margin-bottom: 10px;}
.mgtp20{ margin-top: 20px;}
.mgtp15{ margin-top: 15px;}
.mgtp10{ margin-top: 10px;}
.mgbt6{ margin-bottom: 6px;}
.pos_pre{ position: relative;}
.cut30{ height: 30px; line-height: 30px;}
.cut40{ height: 40px; line-height: 40px;}
.cut50{ height: 50px; line-height: 50px;}
.valign{ vertical-align: middle;}
.hide{ display: none;}
.ftbold{ font-weight: bold;}
.pd-lf-rg{ padding-left: 3%; padding-right: 3%;}
.pd-tp-bt{ padding-top: 15px; padding-bottom: 15px;}
.pd-tp{ padding-top: 3%;}
.pd-bt{ padding-bottom: 3%;}
.pd-lf{ padding-left: 3%;}
.pd-rg{ padding-right: 3%;}
.range-lf{ margin-left: 6px;}
.range-lf2{ margin-left: 20px;}
.range-rg{ margin-right: 6px;}
.pos-pre{ position: relative;}
.bg-0{ background-color: #000;}
.bg-f0{ background-color: #f0f0f0;}
.bg-f3{ background-color: #f3f3f3;}
.bg-fa{ background-color: #fafafa;}
.bg-ea{ background-color: #eaeaea;}
.bg-3b{
	background-color: #3b3b3b;
}
.bg-null{ background-color: none;}
.pdall30{ padding: 30px;}
.pdall10{ padding: 10px;}
.pdall20{ padding: 20px;}
.pic img{ width: 100%;}
.pd2rem{ padding: 0 .2rem;}
.over-hide{ overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}

#uploader .filelist>li h3.text-c{
	width: 200px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}